@import '../../style/settings.scss';

.card {
    position: relative;
    background: $color-light;
    border: 1px solid lighten($color-dark, 60%);
    padding: $base-size;
    margin: 0 0 $base-size 0;
    border-radius: $radius;
    display: flex;
    justify-content: space-between;
    font-weight: bold;

    button {
        .fa-star, .fa-star-o {
            font-size: 20px;
            cursor: pointer;
            color: gray; /* Kolor dla nieaktywnych gwiazdek */
        }

        .fa-star {
            color: gold; /* Złoty kolor dla aktywnych gwiazdek */
        }

        .fa-star-o {
            color: gray; /* Kolor dla nieaktywnych gwiazdek */
        }
    }
}

